@charset "UTF-8"

/*em HTML é ID - Em CSS é #
  em HTML é class - Em CSS é . */

body{
    background-color: rgb(204, 240, 151);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(46, 71, 8);
}

h1#principal {
    text-align: center;
    background-color:  rgb(46, 71, 8);
    color: white;
}

h2{
    color: rgb(61, 90, 17);
}

.basico{
    color: rgb(61, 90, 17);
    font-weight: bold;
}

.intermediario{
    color: rgb(90, 85, 17);
}

.avancado{
    color: rgb(90, 17, 17);
}

.destaque{
    background-color: rgb(224, 213, 54);
}
